<p>detailed-signup-form works!</p>
<!-- components/user-info-form/user-info-form.component.html -->
<form [formGroup]="form" (ngSubmit)="onNext()">

  <div formGroupName="organization">
    <div>
      <label for="organization_name">Organization Name:</label>
      <input id="organization_name" formControlName="organization_name" type="text">
    </div>

    <div>
      <label for="organization_id">Organization ID:</label>
      <input id="organization_id" formControlName="organization_id" type="text">
      <div *ngIf="invalidOrganizationIdError" class="error">{{ invalidOrganizationIdError }}</div>
    </div>
  </div>


  <div>
    <label for="designation">Designation:</label>
    <select id="designation" formControlName="designation">
      <option *ngFor="let designation of designationList$ | async" [value]="designation">
        {{ designation }}
      </option>
    </select>
  </div>

  <div>
    <label for="birth_date">Birth Date:</label>
    <input id="birth_date" formControlName="birth_date" type="date">
  </div>

  <div>
    <label for="city">City:</label>
    <input id="city" formControlName="city" type="text">
  </div>

  <div>
    <label for="pincode">Pincode:</label>
    <input id="pincode" formControlName="pincode" type="text" maxlength="6">
  </div>

  <button type="submit" [disabled]="form.invalid">Submit</button>
</form>
